* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(red, green, blue, alpha);
    background-image: url('swoosh-background-image-2.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    text-align: center; /* Ensure everything is center-aligned */
    color: #fff;
  }
  
  header {
    display: flex;
    color: #000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  header h1 {
    font-size: 5rem;
    margin-bottom: 50px;
    color: #0b0533;
  }
  
  .logo {
    max-width: 150px;
    margin-bottom: 20px;
  }
  
  .Whatsapp-section{
    background-color: bisque;
    margin-top: 30px;
  }

  .Mens-section{
    background-color: #4c10108b;
    margin-top: 30px;
  }

  .Womens-section{
    background-color: #0f054a;
    margin-top: 30px;
  }

  .Avaiable-section{
    background-color: #333;
    margin-top: 30px;
  }

  .facebook-section {
    margin-top: 30px;
  }
  
  .button {
    padding: 15px 50px;
    gap: 10px;
    background-color: #150322d3;
    color: #fff;
    text-decoration: rgba(19, 19, 91, 0.786);
    font-size: 1.2rem;
    border-radius: 6px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #333333a1;
  }
  
  /* Facebook-specific styling */
  .button.facebook {
    background-color: #3b5998;
  }
  
  .button.facebook:hover {
    background-color: #2d4373;
  }
  
  footer {
    position: absolute;
    bottom: 20px;
    color: #0f054a;
  }
  /* Media Queries for Responsiveness */
  @media screen and (min-width: 768px) {
    .logo {
      max-width: 200px;
    }

    .button {
      padding: 15px 50px;
      font-size: 1.3rem;
      max-width: 350px;
    }
  }

  @media screen and (max-width: 480px) {
    .logo {
      max-width: 120px;
    }

    .button {
      padding: 10px 20px;
      font-size: 1rem;
    }